body{
	background-color: #c7bf2e;
}
 
main{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 1%;
	right: 0;
	width: 100%;
}

nav{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(165,165,165);
	width: 10%;
	z-index: 2;
}

#bouton_home{
	height: 35px;
	width: 35px;
	align-self:  center;
	background-color: rgba(0,0,0,0);
	background-image: url(home.png);
	margin: 5%;
	z-index: 2;
}

#partie_cle p{
	font-size: 25px;
	text-decoration: underline;
}

nav p{
	text-align: center;
}

#cle{
	background-color: rgba(0,0,0,0);
	border:none;
	max-width: 75%;
	margin-bottom: 1%;
	word-wrap: break-word;
}

h1{
	text-decoration: underline;
}

#texte_chiffre{
	margin-top: 3%;
	width: 30%;
	height: 100px;
}

input,TEXTAREA{
	border-color: rgb(165,165,165);
	border-style: solid; 
	border-width: 3px;
	background-color: rgb(245,245,245);
	font-family: "Comic Sans MS";
	resize: none;
}

TEXTAREA{
	width: 100%;
	height: 100%;
}

section{
	width: 30%;
	display: flex;
	justify-content: space-between;
	padding: 1%;
}

section[id = "bouton_choix"] input{
	width: 100px;
}

#entrer_cle{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#coder{
	justify-content: space-around;
	width: 100%;
}

#decoder{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 2%;
}

#texte_res{
	word-wrap: break-word;
	text-align: justify;
}

